################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/BLL/obj/Debug/net6.0/BusinessLogicLayer.assets.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.csproj.AssemblyReference.cache
/BLL/obj/Debug/net6.0/BusinessLogicLayer.GeneratedMSBuildEditorConfig.editorconfig
/BLL/obj/BusinessLogicLayer.csproj.nuget.dgspec.json
/BLL/obj/BusinessLogicLayer.csproj.nuget.g.props
/BLL/obj/project.assets.json
/BLL/obj/project.nuget.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.assets.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.csproj.AssemblyReference.cache
/DataAccessLayer/obj/Debug/net6.0/DataAccessLayer.GeneratedMSBuildEditorConfig.editorconfig
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.dgspec.json
/DataAccessLayer/obj/DataAccessLayer.csproj.nuget.g.props
/DataAccessLayer/obj/project.assets.json
/DataAccessLayer/obj/project.nuget.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.assets.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.csproj.AssemblyReference.cache
/ManaretAmman/obj/Debug/net6.0/ManaretAmman.GeneratedMSBuildEditorConfig.editorconfig
/ManaretAmman/obj/ManaretAmman.csproj.nuget.dgspec.json
/ManaretAmman/obj/ManaretAmman.csproj.nuget.g.props
/ManaretAmman/obj/project.assets.json
/ManaretAmman/obj/project.nuget.cache
/.vs/ManaretAmman/v17/.suo
